.btnPink {
    padding: 10px 20px;
    margin: 5px;
    background-color: pink;
    /* verde */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnPink:hover {
    background-color: rgb(182, 140, 147);
    transform: scale(1.05);
}

.btnBlue {
    padding: 10px 20px;
    margin: 5px;
    background-color: blue;
    /* verde */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnBlue:hover {
    background-color: rgb(3, 3, 164);
    transform: scale(1.05);
}