body{
    background-color: aliceblue ;
    padding: 0;
    margin: 0;
    font-family: "Icelandia", sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-family: "Icelandia", sans-serif;
    color: #aaa;
}

input:focus,
textarea:focus {
    outline: none;
}

a, 
nav button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    transition: 0.4s;
    font-size: 1em;
    cursor: pointer;
    font-family: "Icelandia", sans-serif;
}

a{
    color: black;
}

nav button{
    color: aliceblue;
}


form{
    max-width: 40%;
    margin: 0 auto;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label span{
    margin: .3em;
    font-weight: bold;
    text-align: left;
}

input,
textarea{
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #4d545c;
    padding: 0.8em 0;
    background-color: transparent;
}

.btn{
    background-color: rgb(56, 70, 88);
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    margin-top: 5px;
}

.btn.btn-dark{
    background-color: black;
    border-radius: 0;
}

.btn.bnt-outline{
    background-color: transparent;
    border-radius: 0;
    color: black;
    border: 1px solid black;
    padding: 7px 30px;
}

.btn:hover{
    background-color: rgb(97, 116, 141);
    color: #fff;
}

.btn.bnt-outline:hover{
    background-color: black;
}

.btn.btn-danger:hover{
    background-color: red;
}

button[disabled]{
    background-color: #AAa;
}
button[data-girando]{
    transition: 5s;
}

button[data-girando]:hover{
    transform: rotate3d(1, 2, 1, 720deg) scale(2);  
}

.error{
    color: #721C24;
    background-color: #F8D7DA;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 5px;
}
