.about {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.about p {
    color: #757575;
    margin-bottom: 2em;
}

.about span {
    font-weight: 900;
    text-transform: uppercase;
}

.about a {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
}

.about ul {
    padding-left: 20px;

}

.about ul li {
    margin-left: 10px;
    list-style-position: inside;
}