nav{
    display: flex;
    justify-content: center;
}

nav a{
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    background-color: #c8faff;
    border-radius: 5px;
}

nav a:hover{
    background-color: #62b3d1;
    border-radius: 5px;
}

.active{
    background-color: #c8faff;
    border-radius: 5px;
    border: #000 solid 1px;
}