.navbar{
    display: flex;
    box-shadow: 0px 2px rgb(39, 49, 62);
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    background: linear-gradient(to top, rgb(74, 93, 118), rgb(56, 70, 88));
    
}

.brand{
    font-size: 1.5em;
    color: aliceblue;
}

.brand span{
    font-weight: 900;
    text-transform: uppercase;
}

.links_list{
    display: flex;
    list-style: none;
    
}

.links_list li{
    margin: 0 1em;
}

.links_list li a{
    padding: .4em .6em;
    color: aliceblue;
}

/*
.links_list li button{

    color: aliceblue;
}*/

.links_list li:hover{
    transform: scale(1.2);
}

.active{
    background-color: rgb(91, 114, 144);
    color: white;
    border-radius: 5px;
  }
