hmtl, body{
  height: 100%;
}

body{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #02e1ff 0%, #011d59 100%);
  min-height: 100vh;
  color: aliceblue;
}

button{
  background-color: rgb(93, 0, 255);
  color: aliceblue;
  padding:  0 45px;
  border: 2px solid aliceblue;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  background-color: rgb(59, 0, 161);
  
}