/* Game.css */
.game h1{
  font-size: 2.5em;
}

.points span{
  font-weight: bold;
}

.tip span{
  color: #fb7100
}

.wordContainer {
  margin: 2em auto;
  padding: 2em;
  border: 10px solid transparent;
  border-radius: 16px;
  background: 
    linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(45deg, #fb7100, #ffbb00) border-box;
  box-shadow:
    0 0 20px rgba(251, 113, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.6) inset;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  color: #fff;
  font-family: 'Arial', sans-serif;
}


.letter, .blankSquare{
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: aliceblue;
  color: #000;
  font-weight: bold;
}

.letterContainer{
  margin-bottom: 1.2em;
}

.letterContainer form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.letterContainer input{
  width: 50px;
  height: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
  border: 2px solid #000;

}

  