.about {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  line-height: 1.6;
  background-color: rgb(223, 231, 237);
  border-radius: 20px;
  box-shadow: 7px 7px rgb(116, 134, 149);
}

.about ul {
  list-style: circle;
  padding-left: 20px;

}
.about ul li {
  margin-left: 10px;
  list-style-position: inside;
}