.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.products li{
    border: 5px inset rgb(102, 184, 255);
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    list-style: none;
    margin: 0 10px;
    width: 25%;
}